extends ../layout

block content
  form(action="/api/courses/", method="post")
        div.form-group
            label(for="name") Enter Course Name
            input#name(type="text", class="form-control",name="name")
        div.form-group
            label(for="id") Enter Course ID
            input#id(type="number", class="form-control",name="course_id")
        div.form-group
            label(for="price") Enter Course Duration
            input#price(type="number", class="form-control",name="duration")
        div.form-group
            label(for="price") Enter Course Fee
            input#price(type="number", class="form-control",name="fee")
        input(type="submit",class="btn btn-info")